* {
  box-sizing: border-box; }

li {
  list-style-type: none; }

.container {
  display: grid;
  grid-template-rows: 10vh 90vh auto;
  grid-template-areas: "nav" "header" "about" "work" "contact" "footer"; }

.navigation {
  grid-area: nav;
  background: #0d0d0d;
  color: #CCC;
  border-bottom: 0.25rem solid #CCCCCC; }
  .navigation ul {
    display: none; }

.header {
  grid-area: header;
  background: #1a1a1a;
  color: #CCC;
  /* background-image: url('../images/city.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: grayscale(100%); !* Safari 6.0 - 9.0 *!
  filter: grayscale(100%);*/ }
  .header .header__social-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0; }

.about {
  grid-area: about; }

.work {
  grid-area: work; }

.contact {
  grid-area: contact; }

.footer {
  grid-area: footer; }

.overlay {
  position: fixed;
  height: 100%;
  width: 0;
  top: 0;
  left: 50%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: width 0.5s 0.3s, visibility 0s 0.8s;
  transition: width 0.5s 0.3s, visibility 0s 0.8s; }

.open {
  opacity: 1;
  visibility: visible;
  width: 100%;
  -webkit-transition: width 0.5s;
  transition: width 0.5s; }

.overlay__close {
  position: fixed;
  top: 40px;
  right: 60px;
  color: white;
  z-index: 3;
  cursor: pointer;
  font-family: sans-serif; }
  .overlay__close span,
  .overlay__close span:before,
  .overlay__close span:after {
    border-radius: 4px;
    height: 5px;
    width: 35px;
    background: white;
    position: absolute;
    display: block;
    content: ''; }
  .overlay__close span {
    background: transparent; }
  .overlay__close span:before {
    transform: rotate(45deg); }
  .overlay__close span:after {
    transform: rotate(-45deg); }

.overlay__nav {
  text-align: center;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .overlay__nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .overlay__nav ul li {
      align-items: center;
      flex: 1;
      line-height: 20vh; }
      .overlay__nav ul li a {
        font-size: 1.5em;
        transition: all 0.5s ease;
        display: block;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.5); }
        .overlay__nav ul li a:hover {
          color: rgba(255, 255, 255, 0.9);
          transform: scale(1.1); }
          .overlay__nav ul li a:hover:before {
            visibility: visible;
            transform: scaleX(1); }
        .overlay__nav ul li a:before {
          content: "";
          position: absolute;
          width: 50%;
          height: 2px;
          bottom: 0;
          left: 25%;
          background: white;
          visibility: hidden;
          transform: scaleX(0);
          transition: all 0.3s ease-in-out 0s; }

.overlay__outer-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 85px;
  height: 85px;
  cursor: pointer; }

/* Desktop Styles */
