@import url('https://fonts.googleapis.com/css?family=Cabin:700|Raleway');

// Variables
$breakpoint: 800px;

$primary-color: #292929;
$accent-color: #393f61;
$secondary-dark: #72728b;
$secondary-medium: #b8baca;
$secondary-light: #edeee8;

$main-font: 'Cabin', sans-serif;
$secondary-font: 'Raleway', sans-serif;

$text-color-light: $secondary-light;
$text-color-dark: $primary-color;