@import 'variables';
@import 'functions';

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  font-family: $main-font;
}

h1 {
  text-align: center;
  margin-top: 0;
}

p {
  font-family: $secondary-font;
}

li {
  list-style-type: none;
}

.container {
  display: grid;
  grid-template-rows: 10vh 90vh auto;
  grid-template-areas:
    "nav"
    "header"
    "about"
    "work"
    "contact"
    "footer";
}

.navigation {
  grid-area: nav;
  background: $accent-color;
  color: set-text-color($accent-color);
  border-bottom: 0.25rem solid $secondary-medium;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  .navigation__toggle {
    font-size: 2.5em;
    padding: 1rem;
  }

  ul {
    display: none;
  }
}

.header {
  display: flex;
  grid-area: header;
  background: $primary-color;
  color: set-text-color($primary-color);

  .header__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    p {
      font-family: $main-font;
      font-size: 1.25em;
      margin: 0;
    }
  }

  .header__view-button {
    padding: 0.75rem 1.5rem;
    background: $accent-color;
    font-family: $secondary-font;
    color: set-text-color($accent-color);
    border: none;
  }

  .header__social-menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    margin: 2rem;
    font-size: 2em;

    li a {
      font-size: 1em;
      padding: 1rem;
      color: $secondary-dark;
    }
  }
}

.about {
  grid-area: about;
}

.work {
  grid-area: work;
}

.contact {
  grid-area: contact;
}

.footer {
  grid-area: footer;
}

.overlay {
  position: fixed;
  height: 100%;
  width: 0;
  top: 0;
  left: 50%;
  background: $accent-color;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: width 0.5s 0.3s, visibility 0s 0.8s;
  transition: width 0.5s 0.3s, visibility 0s 0.8s;

}
.open {
  opacity: 0.95;
  visibility: visible;
  width: 100%;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.overlay__close {
  position: fixed;
  top: 40px;
  right: 60px;
  color: set-text-color($secondary-dark);
  z-index: 3;
  cursor: pointer;
  font-family: sans-serif;
  span,
  span:before,
  span:after {
    border-radius: 4px;
    height: 5px;
    width: 35px;
    background: white;
    position: absolute;
    display: block;
    content: '';
  }
  span {
    background: transparent;
  }
  span:before {
    transform: rotate(45deg);
  }
  span:after {
    transform: rotate(-45deg);
  }
}

.overlay__nav {
  text-align: center;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      align-items: center;
      flex: 1;
      line-height: 20vh;
      a {
        font-family: $main-font;
        font-size: 1.5em;
        transition: all 0.5s ease;
        display: block;
        text-decoration: none;
        color: set-text-color($secondary-dark);
        &:hover {
          color: rgba(255, 255, 255, .9);
          transform: scale(1.1);
          &:before {
            visibility: visible;
            transform: scaleX(1);
          }
        }
        &:before {
          content: "";
          position: absolute;
          width: 50%;
          height: 2px;
          bottom: 0;
          left: 25%;
          background: white;
          visibility: hidden;
          transform: scaleX(0);
          transition: all 0.3s ease-in-out 0s;
        }
      }
    }
  }
}

.overlay__outer-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 85px;
  height: 85px;
  cursor: pointer;
}

.about {
  text-align: center;
  padding: 2rem;

  .about__avatar {
    width: 10rem;
    border-radius: 50%;
  }
}

.contact {
  background: $accent-color;
  padding: 2rem;
  color: set-text-color($accent-color);

  .contact__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .contact__input {
    display: block;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border: none;
    background: $primary-color;
    font-family: $secondary-font;
  }

  .contact__submit {
    padding: 0.75rem 1.5rem;
    background: $accent-color;
    font-family: $secondary-font;
    color: set-text-color($accent-color);
    border: 1px solid $secondary-light;
    flex-basis: 20%;
  }
}

.footer {
  background: $primary-color;
  padding: 2.5rem;
  color: set-text-color($accent-color);
  text-align: center;
  font-family: $secondary-font;
}

/* Desktop Styles */
@media screen and (min-width: $breakpoint) {

}